<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Favorite Quotes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let quote of quotes">
      <ion-item
        [color]="getBackground()"
        (click)="onViewQuote(quote)">
        <h2>{{quote.person}}</h2>
        <p>{{quote.text}}</p>
      </ion-item>
      <ion-item-options>
        <button
          ion-button
          color="danger"
          (click)="onRemoveFromFavorites(quote)">
          <ion-icon name="trash"></ion-icon> Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-select interface="popover" class="stop-filter-select">
        <ion-option value="undelivered">Undelivered Stops</ion-option>
        <ion-option value="full">Full Manifest</ion-option>
        <ion-option value="requested">Requested Times</ion-option>
        <ion-option value="skipped">Skipped Stops</ion-option>
        <ion-option value="next">Next Stop</ion-option>
      </ion-select>
</ion-content>
